.nav-link-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link-item:hover {
  color: #c7c2c2;
}

.nav-container {
  background-color: rgb(74, 77, 236);
  font-family: inherit;
  display: flex;
  box-sizing: border-box;
}

.nav-left, .nav-right{
  padding: 15px 15px;
  transition: background-color 0.3s;
}

.nav-left:hover, .nav-right:hover {
  background-color: rgb(62, 64, 202);
}

.nav-middle {
  flex-grow: 0.96;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.nav-middle-item {
  padding: 15px 15px;
  position: relative;
  min-height: 25px;
  transition: background-color 0.3s;
}

.nav-middle-item:hover {
  background-color: rgb(62, 64, 202);
}

.nav-submenu {
  display: none;
  flex-direction: column;
}

.nav-middle-item:hover .nav-submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 19px;
  background-color: rgb(62, 64, 202);
  color: #ffffff;
  min-width: max-content;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.item {
  padding: 10px;
  line-height: 20px;
}

.nav-right-sub {
  display: none;
  flex-direction: column;
  padding: 10px;
}

.nav-right:hover .nav-right-sub {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  background-color: rgb(62, 64, 202);
  color: #ffffff;
  min-width: max-content;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
  z-index: 1;
}