.layout-header {
    border: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(83, 86, 241);
}

.nav-container-right  {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0;
}

.nav-li {
    height: 30px;
    padding: 6px;
}

.nav-li:hover {
    background-color: rgb(70, 72, 204);
}

.nav-li:hover {
    width: fit-content;
}

.selected {
    font-weight: bold;
}

#nav-link {
    color: #ffffff;
    text-decoration: none;
}